html, body {
    height: 100%;
    background-color: black;
    border-color: #238E23;
}

div {border-color: #238E23}

.page-header {margin-top: 16%;}

.panel {
    color: #dddddd;
    background-color: #222222;
}
.panel-body {width:100%}

#green{color:#238E23;}
#yellow{color:#FF9F00;}
#blue{color:#3299CC;}
#red{color:red;}
