html {
	background-image: url('binding_dark.png');
}

#title {
	text-align: center;
	color: white;
	font-weight: 100;
	font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
	text-shadow: 0px 0px 20px #979797;
}

#homeButton a:visited, #homeButton a:link {
	text-decoration: none;
	color: white;
}
#homeButton {
	border-radius: 20%;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	color: white;
}
#buttonblock {
	margin-right: auto;
	margin-left: auto;
	width:110px;
}

#fence {
	position: relative;
	width:1050px;
	margin-right: auto;
	margin-left: auto;
}
.grid {
	margin-right: auto;
	margin-left: auto;
	width:630px;
	height:420px;
	background-color: black;
	box-shadow: 4px 2px 8px black;
	border-radius: 5px;
}
#hovercell {
	width: 17px;
	height: 17px;
	margin: 2px 2px 2px 2px;
}

#row {
	float: left;
	background-color: gray;
	width: 16px;
	height: 16px;
	margin: 2.5px 2.5px 2.5px 2.5px;
	box-shadow: 1px 1px 2px white;
}
#row_alive {
	float: left;
	background-color: white;
	width: 16px;
	height: 16px;
	margin: 2.5px 2.5px 2.5px 2.5px;
	box-shadow: 1px 1px 2px white;
}

i {
	color: white;
}

button {
	position: relative;
	border-radius: 100%;
	width: 50px;
	height: 50px;
	margin-right: 225px;
	margin-left: 225px;
	background-color: black;
}

button:hover {
	box-shadow: 0px 0px 4px gray;
}


.sidebar {
	position: relative;
	
	width: 200px;
	text-align: justify;
	color: #dddddd;
}

#leftsidebar {
	float: left;
	padding-right: 10px;
}
#rightsidebar {
	float: right;
}

#first_summary {
	font-size: 18px;
	color: #eeeeee;
	text-align: justify;
	margin-left: 21%;
	margin-right: 21%;
	width: 630px;
}
p a:hover, p a:visited, p a:link {
	text-decoration: none;
	color: white;
	text-shadow: 0px 0px 1px white;
}
