/* line 3, ../sass/pages/_home.sass */
section.welcome {
  height: 100vh;
  margin: 0 auto;
  max-width: 100rem;
  padding-top: 4.5rem;
  width: 100%;
}
/* line 9, ../sass/pages/_home.sass */
section.welcome p {
  color: #444444;
  font-size: 2rem;
}

/* line 13, ../sass/pages/_home.sass */
#continue, #back {
  background-color: #428bca;
  border: 1px solid #357ebd;
  border-radius: 0;
  color: white;
  font-size: 18px;
  line-height: 1.33em;
  max-width: 10.8rem;
  padding: 0 16px;
}

/* line 23, ../sass/pages/_home.sass */
article.about-me {
  line-height: 3rem;
  width: 100%;
}
/* line 26, ../sass/pages/_home.sass */
article.about-me h1 {
  color: white;
}
/* line 28, ../sass/pages/_home.sass */
article.about-me h2 {
  font-size: 2rem;
  text-align: left;
}
/* line 31, ../sass/pages/_home.sass */
article.about-me span {
  color: #444444;
  font-size: 2.5rem;
}
/* line 34, ../sass/pages/_home.sass */
article.about-me p {
  font-size: 1.8rem;
  text-align: justify;
}
/* line 37, ../sass/pages/_home.sass */
article.about-me .container {
  padding: 7rem 10% 2rem;
}

/* line 40, ../sass/pages/_home.sass */
#overlay.contact {
  background: rgba(0, 0, 0, 0.7);
  display: none;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
/* line 48, ../sass/pages/_home.sass */
#overlay.contact .contact-information {
  margin: 0 auto;
  max-width: 25rem;
  padding: 8rem 0 0;
}

/* line 5, ../sass/pages/_interests.sass */
body {
  overflow: auto;
}

/* line 8, ../sass/pages/_interests.sass */
nav {
  top: 0;
}

/* line 11, ../sass/pages/_interests.sass */
section.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 0;
  position: relative;
  margin: 4rem auto 0;
  max-width: 960px;
}
/* line 19, ../sass/pages/_interests.sass */
section.gallery .book {
  border-right: 0 solid white;
  height: 452px;
  position: relative;
  width: 300px;
}
/* line 24, ../sass/pages/_interests.sass */
section.gallery .book > img {
  height: 452px;
  position: absolute;
  width: 300px;
}
/* line 28, ../sass/pages/_interests.sass */
section.gallery .book .caption-overlay {
  background: rgba(0, 0, 0, 0.7);
  height: 100%;
  opacity: 0;
  padding: 10rem 0 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 36, ../sass/pages/_interests.sass */
section.gallery .book .caption-overlay:hover {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 1;
}

/* line 3, ../sass/pages/_GoLproj.sass */
* {
  z-index: 2;
}

/* line 6, ../sass/pages/_GoLproj.sass */
body.game-of-life-app {
  overflow: auto;
}
/* line 9, ../sass/pages/_GoLproj.sass */
body.game-of-life-app div[ng-app="lifeApp"] > h1 {
  font-family: "Rubik Mono One", sans-serif;
  padding-top: 13rem;
  position: relative;
}

/* line 14, ../sass/pages/_GoLproj.sass */
section.game-of-life {
  height: 1020px;
  left: 50%;
  margin-left: -60rem;
  overflow: hidden;
  position: fixed;
  top: 4rem;
  width: 120rem;
  z-index: 1;
}
/* line 24, ../sass/pages/_GoLproj.sass */
section.game-of-life .fence div {
  height: 18px;
  float: left;
  width: 18px;
}
/* line 28, ../sass/pages/_GoLproj.sass */
section.game-of-life .living-cell, section.game-of-life .dead-cell {
  border: 1px solid #033502;
}
/* line 30, ../sass/pages/_GoLproj.sass */
section.game-of-life .living-cell {
  background: #238e23;
}
/* line 32, ../sass/pages/_GoLproj.sass */
section.game-of-life .dead-cell {
  background: black;
}

/* line 35, ../sass/pages/_GoLproj.sass */
section.introduction {
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  background: black;
  height: 100%;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}
/* line 44, ../sass/pages/_GoLproj.sass */
section.introduction img {
  left: 45%;
  position: relative;
  top: 45rem;
  width: 100px;
}
/* line 49, ../sass/pages/_GoLproj.sass */
.loaded section.introduction {
  opacity: 0;
}

/* line 52, ../sass/pages/_GoLproj.sass */
section.game-overview {
  height: 100%;
  margin: 0 0 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}
/* line 58, ../sass/pages/_GoLproj.sass */
section.game-overview .container {
  overflow: hidden;
}

/* line 61, ../sass/pages/_GoLproj.sass */
aside.how-to-play {
  font-size: 1.7rem;
  min-height: 28rem;
  position: relative;
  padding: 1rem;
  width: 25%;
  z-index: 2;
}
/* line 68, ../sass/pages/_GoLproj.sass */
aside.how-to-play button {
  bottom: 1rem;
  left: 50%;
  margin-left: -4rem;
  position: absolute;
}
/* line 73, ../sass/pages/_GoLproj.sass */
aside.how-to-play p {
  color: black;
  text-align: justify;
}

/* line 77, ../sass/pages/_GoLproj.sass */
aside.right-aside {
  background: #3299cc;
  float: right;
  z-index: 2;
}

/* line 81, ../sass/pages/_GoLproj.sass */
aside.left-aside {
  background: #ca7e00;
  float: left;
  z-index: 2;
}

/* line 86, ../sass/pages/_GoLproj.sass */
button {
  background: #238e23;
  border: 0;
  border-radius: 0;
  color: white;
  margin: 0 auto 1rem;
  max-width: 8rem;
  width: 100%;
}

/* line 95, ../sass/pages/_GoLproj.sass */
article.rules {
  clear: both;
  font-size: 1.7rem;
  height: 100%;
  position: relative;
  margin: 0 auto;
  max-width: 85rem;
  width: 100%;
  z-index: 2;
}
/* line 104, ../sass/pages/_GoLproj.sass */
article.rules .container {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.75;
}
/* line 107, ../sass/pages/_GoLproj.sass */
article.rules h1, article.rules p, article.rules ul {
  line-height: 3rem;
}
/* line 109, ../sass/pages/_GoLproj.sass */
article.rules ul {
  color: white;
  display: block;
  margin: 0 auto;
  max-width: 50rem;
}
/* line 114, ../sass/pages/_GoLproj.sass */
article.rules p {
  text-align: justify;
}

/* line 17, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/layout/_global.sass */
html {
  background: black;
  font-family: "Noto Sans", sans-serif;
  font-size: 62.4%;
  height: 100%;
}

/* line 10, ../sass/layout/_global.sass */
body {
  height: 100%;
}

/* line 12, ../sass/layout/_global.sass */
p, h1, h2 {
  color: white;
  margin-bottom: 1rem;
  text-align: center;
}

/* line 17, ../sass/layout/_global.sass */
a:active, a:visited, a:hover, a {
  text-decoration: none;
}

/* line 19, ../sass/layout/_global.sass */
h1 {
  font-size: 4rem;
}

/* line 22, ../sass/layout/_global.sass */
.small-menu-toggle {
  display: none;
}

/* line 25, ../sass/layout/_global.sass */
button {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  height: 4rem;
  margin: 0 auto;
}

/* line 32, ../sass/layout/_global.sass */
.color-one {
  color: #238e23;
}

/* line 34, ../sass/layout/_global.sass */
.color-two {
  color: #ff9f00;
}

/* line 36, ../sass/layout/_global.sass */
.color-three {
  color: #3299cc;
}

/* line 38, ../sass/layout/_global.sass */
.color-four {
  color: #845300;
}

/* line 41, ../sass/layout/_global.sass */
.border {
  border-bottom: 1px solid white;
  margin: 0 auto;
  width: 5rem;
}

/* line 46, ../sass/layout/_global.sass */
div.container {
  margin: 0 auto;
  max-width: 97rem;
  padding: 20% 5rem 0;
}

/* line 51, ../sass/layout/_global.sass */
nav {
  background: linear-gradient(to right bottom, #161616, #222222);
  font-size: 1.5rem;
  height: 3rem;
  padding: 1rem 0 0 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
/* line 60, ../sass/layout/_global.sass */
nav h1, nav h2, nav ul {
  display: inline-block;
}
/* line 62, ../sass/layout/_global.sass */
nav h1 {
  float: left;
  font-size: 2rem;
  margin-right: 2rem;
}
/* line 66, ../sass/layout/_global.sass */
nav h2 {
  margin: 0 2rem;
}
/* line 68, ../sass/layout/_global.sass */
nav ul.projects-menu {
  float: right;
  padding: 0 4rem;
}
/* line 71, ../sass/layout/_global.sass */
nav ul.projects {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
  background: white;
  height: 0;
  overflow: hidden;
  padding: 0rem;
  position: absolute;
  top: 4rem;
  right: 1rem;
}
/* line 80, ../sass/layout/_global.sass */
nav ul.projects:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-top: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 0 solid white;
  border-left: 0 solid transparent;
  top: -1.8rem;
  right: 7rem;
}

/* line 92, ../sass/layout/_global.sass */
ul.site-menu {
  display: block;
  float: left;
}
/* line 95, ../sass/layout/_global.sass */
ul.site-menu .small-menu-item {
  display: none;
}
/* line 97, ../sass/layout/_global.sass */
ul.site-menu a {
  color: white;
}
/* line 99, ../sass/layout/_global.sass */
ul.site-menu li {
  display: inline-block;
}
/* line 101, ../sass/layout/_global.sass */
ul.site-menu li:hover {
  border-bottom: 3px solid white;
}
/* line 103, ../sass/layout/_global.sass */
ul.site-menu h2 {
  -webkit-transition: letter-spacing, 0.2s;
  -moz-transition: letter-spacing, 0.2s;
  -o-transition: letter-spacing, 0.2s;
  transition: letter-spacing, 0.2s;
}
/* line 105, ../sass/layout/_global.sass */
ul.site-menu h2:hover {
  -webkit-transition: letter-spacing, 0.2s;
  -moz-transition: letter-spacing, 0.2s;
  -o-transition: letter-spacing, 0.2s;
  transition: letter-spacing, 0.2s;
  letter-spacing: 1rem;
}

/* line 109, ../sass/layout/_global.sass */
.projects-trigger {
  padding: 0.1rem;
}
/* line 112, ../sass/layout/_global.sass */
.projects-trigger:hover ul.projects {
  height: auto;
  overflow: visible;
  padding: 1rem;
}
/* line 116, ../sass/layout/_global.sass */
.projects-trigger:hover ul.projects:before {
  border-top: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid white;
  border-left: 1rem solid transparent;
}

@media(max-width: 900px) {
  /* line 2, ../sass/media/_900px.sass */
  section.gallery {
    width: 600px;
  }
}

@media(max-width: 720px) {
  /* line 4, ../sass/media/_720px.sass */
  .small-menu-toggle {
    color: white;
    cursor: pointer;
    display: block;
    height: 3rem;
    float: right;
    line-height: 2rem;
    margin-right: 4rem;
    text-align: center;
    text-decoration: none;
    width: 3rem;
  }

  /* line 15, ../sass/media/_720px.sass */
  ul.projects-menu {
    display: none;
  }

  /* line 17, ../sass/media/_720px.sass */
  ul.site-menu {
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    background: linear-gradient(to left bottom, #222222, #161616);
    clear: left;
    height: 0;
    float: left;
    margin-left: -1rem;
    overflow: hidden;
    width: auto;
  }
  /* line 26, ../sass/media/_720px.sass */
  ul.site-menu .small-menu-item {
    display: inline-block;
  }
  /* line 28, ../sass/media/_720px.sass */
  ul.site-menu li {
    display: block;
    margin-bottom: 1rem;
  }

  /* line 31, ../sass/media/_720px.sass */
  ul.site-menu.active {
    -webkit-transition: height 0.5s;
    -moz-transition: height 0.5s;
    -o-transition: height 0.5s;
    transition: height 0.5s;
    height: 12rem;
  }
}

@media(max-width: 600px) {
  /* line 2, ../sass/media/_600px.sass */
  section.gallery {
    width: 300px;
  }
}

@media(max-width: 360px) {
  /* line 2, ../sass/media/_320px.sass */
  .projects-trigger {
    padding: 1rem 0;
  }
  /* line 5, ../sass/media/_320px.sass */
  .projects-trigger:hover ul.projects:before {
    border-bottom-color: transparent;
    border-right-color: white;
    left: -1.8rem;
    right: 0;
    top: 1rem;
  }

  /* line 13, ../sass/media/_320px.sass */
  .welcome .container {
    padding: 12rem 5rem 0;
  }

  /* line 15, ../sass/media/_320px.sass */
  .about-me {
    overflow-y: scroll;
  }
  /* line 17, ../sass/media/_320px.sass */
  .about-me .container {
    padding: 12rem 3rem 3rem;
  }

  /* line 20, ../sass/media/_320px.sass */
  .contact {
    padding-top: 10rem;
  }
  /* line 23, ../sass/media/_320px.sass */
  .contact form label, .contact form input, .contact form textarea {
    margin-left: 0;
  }
  /* line 25, ../sass/media/_320px.sass */
  .contact button[type="submit"] {
    float: right;
    margin: 1rem 1rem 1rem 0;
  }

  /* line 29, ../sass/media/_320px.sass */
  div[ng-app="lifeApp"] {
    padding: 4rem 0 0;
  }
  /* line 31, ../sass/media/_320px.sass */
  div[ng-app="lifeApp"] > h1 {
    margin: 11rem auto 1rem;
    width: 30rem;
  }
  /* line 34, ../sass/media/_320px.sass */
  div[ng-app="lifeApp"] aside.how-to-play {
    float: none;
    width: auto;
  }
  /* line 37, ../sass/media/_320px.sass */
  div[ng-app="lifeApp"] aside.left-aside {
    margin-bottom: 30rem;
  }
  /* line 40, ../sass/media/_320px.sass */
  div[ng-app="lifeApp"] .game-overview .container {
    padding: 5rem 3rem 0;
  }
}
