{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>ReBookView</title>
    <meta name="viewport" content="width=device-width">

    <link rel="shortcut icon" href="{{ STATIC_URL }}/images/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Noto+Sans|Rubik+Mono+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}stylesheets/styles.css">
</head>

<body class="{% block page %}{% endblock page %}">
    <a id="back-link" class="back-link">back</a>

    {% block main %}
    {% endblock main %}

    <script src="{{ STATIC_URL}}javascript/libs/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}javascript/global.js"></script>

    {% block script %}
    {% endblock script %}

     <div id="overlay" class="contact">
        <section class="contact-information">
            <h1>Lucas Allen</h1>
            <h2>lucas.g.allen@gmail.com</h2>
        </section>
     </div>

    <footer class="footer">
        <p class="acknowledgements">Created by: <a class="contact" id="contact-trigger">{<span class="creator">G</span>}</a></p>
    </footer>
</body>
</html>
