{% extends "base.html" %}

{% block page %}book-review-page{% endblock %}

{% block main %}
    <section class="articles">
        <h1 class="book-title">{{ book.title }}</h1>
        <h2 class="book-author">{{ book.author }}</h2>

        {% for article in book_articles %}
            <article class="book-review-page-article">
                <header class="book-review-page-article-header">
                    <h2 class="book-review-page-article-title">{{ article.headline }}</h2>
                    <p class="publish-date"><time>{{ article.pub_date }}</time></p>
                </header>

                {{ article.body|safe }}
            </article>
        {% endfor %}
    </section>
{% endblock %}
