{% extends "base.html" %}
{% block page %}game-of-life-app{% endblock page %}
{% block gameoflife %}
    <div ng-app="lifeApp" ng-controller="Life">
        <section id="game-of-life" class="game-of-life">
            <div class="fence" ng-model="cells">
                <span ng-repeat="row in cells">
                    <span ng-repeat="cell in row">
                        <div ng-class="cell.lifeClass"></div>
                    </span>
                </span>
            </div><!--/.fence -->
        </section>

        <h1>Conway's Game of Life</h1>

        <section class="game-overview">
            <div class="container">
                <aside class="how-to-play">
                    <p>
                        Pressing the play button below lets the game run continuously; pressing it again pauses the simulation.
                    </p>
                    <button id="pause" ng-click="playLifeButton()">play/pause</button>
                </aside>
            </div>
        </section>

        <article class="rules">
            <div class="container">
                <h1><span class="color-two">R</span><span class="color-four">u</span><span class="color-one">l</span><span class="color-two">e</span><span class="color-three">s</span></h1>

                <p>Conway's Game of Life is a simulation that operates on four very simple rules:</p>

                <ul>
                    <li>If the cell is alive and if the cell has either two or three neighbors, then the cell lives to the next generation.</li>
                    <br>
                    <li>If the cell is alive and the cell only has one or fewer neighbors, then the cell dies.</li>
                    <br>
                    <li>If the cell is alive and the cell has four or more neighbors, then the cell dies.</li>
                    <br>
                    <li>If the cell is dead and the cell has exactly three neighbros, then the cell is born into the next generation.</li>
                    <br>
                </ul>

                <p>Here we consider a "neighbor" to be a living cell that is adjacent (including diagonally so) to the cell in question.</p>
                <p>
                    Conway's Game is interesting because of how complex the simulation can get with a comparatively simple set of rules. To me this is has much to do with the mystery of life and the "ghost in the shell"; it's a clue to the question, "what is consciousness?" Before I get a bit too philosophical here, check out the work of Douglas Hofstadter. In particular, I Am a Strange Loop and G&ouml;del, Escher, Bach: an Eternal Golden Braid are of interest here.
                </p>
            </div>
        </article>
    </div>
{% endblock gameoflife %}

{% block script %}
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
    <script src="{{ STATIC_URL }}javascript/gameOfLife.js"></script>
{% endblock script %}
