{% extends "base.html" %}

{% block main %}
    <div class="home">
        <section class="welcome">

            <div class="container">

                <h1 class="color-two">hello, world!</h1>
                <p>Welcome to my site, where I explore web development and show off the shit I like.</p>
                <button id="continue">continue</button>

            </div>

        </section>

        <article class="about-me">
            <div class="container" id="about">
                <h1>About <span><em class="color-one">Who</em> I am and <em class="color-three">What</em> I'm Doing</span></h1>

                <div class="border"></div>

                <h2 class="color-two">Who I Am</h2>
                <p>
                    As I completed my graduate study of mathematics, I discovered a greater interest for programming. Indeed, programming is a subject of analytic promise and creativity (not unlike mathematics) with all the hands-on qualities that is absent in maths. I've always enjoyed tinkering and creating tools that directly impact day-to-day life. Despite the rich, metaphysical elements of mathematics used to create tools for scientists, I'm more interested in creation that is accessible to a greater audience.
                </p>

                <p>
                    At this point I've gained a little more than two years of experience in web developement and in front end web developement in particular. Due to budget cuts, I've found myself unemployed once again, but now more employable than ever! I'm now exploring more back end interests in programming, so this Django site is a bit of an exploration of that.
                </p>

                <h2 class="color-two">What I'm Doing</h2>
                <p>
                    Since I'm a graduated masters student, I've found that I have plenty of free time. To this end, I have been toying with working on a number of different projects. Some of them are ideas for a neat web-based game or simply posting reviews for games or books that I have enjoyed.
                </p>

                <p>
                    At this point in development I have completed an implementation of Conway's Game of Life using AngularJS (you can find this in the navigation under "projects"). I've *finally* got around to rewriting this site since my second iteration applying my matured knowledge of front end web development and my recent ability to use Heroku and Django at an elementary level. I've finally implemented a back end that will allow me to write reviews for any of the books I've read (mostly sci-fi and fantasy, heh). I'll spend some time tidying up the styles and making the pages look a little more presentable, but beyond that I'm happy with what I was able to accomplish.
                </p>

                <p>
                    Since one of my interests are boardgames, and I've found a neat little API for a game called NetRunner, I'm going to see what fun I can have with the data there. Stay tuned, nerds!
                </p>

            </div>
        </article>

        <button id="back">back</button>
    </div>

{% endblock main %}

{% block script %}
    <script src="{{ STATIC_URL }}javascript/home.js"></script>
{% endblock script %}
