{% extends "base.html" %}

{% block main %}
    <div class="home">
        <section class="welcome">
            <div class="container">
                <h1 class="color-two">Re:BookView</h1>
                <p>Home of the ramblings from an amatuer critic and a seasoned reader.</p>
            </div>
        </section>

        <a class="button" href="/library">Reviews</a>
    </div>
{% endblock main %}

{% block script %}
    <script src="{{ STATIC_URL }}javascript/home.js"></script>
{% endblock script %}
