{% extends "base.html" %}

{% block main %}
    <section class="gallery">
        {% for book in books %}
            <a class="book" href="/review/book/{{ book.title_slug }}">
                <img src="{{ MEDIA_URL }}{{ book.cover }}">
                <div class="caption-overlay">
                    <p>{{ book.caption }}</p>
                </div>
            </a>
        {% endfor %}
    </section>
{% endblock main %}

{% block script %}
    <script src="{{ STATIC_URL }}javascript/interests.js"></script>
{% endblock script %}
