{% extends "base.html" %}

{% block main %}
    <div class="home">
        <section class="welcome">

            <div class="container">

                <h1 class="color-two">hello, world!</h1>
                <p>Welcome to my portfolio site, where I explore web development and show off my projects.</p>
                <button id="continue">continue</button>

            </div>

        </section>

        <article class="about-me">
            <div class="container" id="about">
                <h1>About <span><em class="color-one">Who</em> I am and <em class="color-three">What</em> I'm Doing</span></h1>

                <div class="border"></div>

                <h2 class="color-two">Who I Am</h2>
                <p>
                    As I completed my graduate study of mathematics, I discovered a passion for programming. Indeed, programming is a subject of analytic promise and creativity (not unlike mathematics) with all the hands-on qualities that is absent in maths. I've always enjoyed tinkering and creating tools that directly impact day-to-day life. Despite the rich, metaphysical elements of mathematics used to create tools for scientists, I'm more interested in creation that is accessible to a greater audience.
                </p>

                <p>
                    Now that I'm a graduated masters student, I plan to spend my newfound free time on developing this site and growing a portfolio. Ideally, in the future I will find employment as a software developer and start a career in the field. In the meantime, keep in touch.
                </p>

                <h2 class="color-two">What I'm Doing</h2>
                <p>
                    Since I'm a graduated masters student, I've found that I have plenty of free time. To this end, I have been toying with working on a number of different projects. Some of them are ideas for a neat web-based game or simply posting reviews for games or books that I have enjoyed.
                </p>

                <p>
                    At this point in development I have completed an implementation of Conway's Game of Life using AngularJS (you can find this in the navigation under "projects"). I've *finally* got around to rewriting this site since my second iteration applying my matured knowledge of Front End web development and my recent ability to use Heroku and Django at an elementary level. My next steps are to implement a more robust Back End to facilitate my desire to post my thoughts on various topics without requiring to write new HTML or CSS.
                </p>

            </div>
        </article>

        <div id="overlay" class="contact">
            <section class="contact-information">
                <h1>Lucas Allen</h1>
                <h2>lucas.g.allen@gmail.com</h2>
            </section>
        </div>

        <button id="back">back</button>
    </div>

{% endblock main %}

{% block script %}
    <script src="{{ STATIC_URL }}javascript/home.js"></script>
{% endblock script %}
