{% extends "base.html" %}

{% block main %}

    <section class="carousel">
        <div class="carousel-container">
            <div class="next-button" id="left-control"><img src="{{ STATIC_URL }}images/arrow).png"></div>
            <div class="next-button" id="right-control"><img src="{{ STATIC_URL }}images/arrow).png"></div>
            <ul>
                <li data-image="1">
                    <img src="{{ STATIC_URL }}images/halo.jpg">
                </li>
                <li data-image="2">
                    <img src="{{ STATIC_URL }}images/hitman.jpg">
                </li>
                <li data-image="3">
                    <img src="{{ STATIC_URL }}images/minecraft.jpg">
                </li>
                <li data-image="4">
                    <img src="{{ STATIC_URL }}images/asoiaf.png">
                </li>
            </ul>
        </div>
    </section>

    <section class="gallery">
        <div class="book">
            <img src="{{ STATIC_URL }}images/book_gallery/AmericanGods.jpg">
             <div class="caption-overlay">
                <p>Caption</p>
            </div>
        </div>
        <div class="book" id="a-song-of-ice-and-fire">
            <img data-book="1" src="{{ STATIC_URL }}images/book_gallery/AGameOfThrones.jpg">
            <img data-book="2" src="{{ STATIC_URL }}images/book_gallery/AClashOfKings.jpg">
            <img data-book="3" src="{{ STATIC_URL }}images/book_gallery/AStormOfSwords.jpg">
            <img data-book="4" src="{{ STATIC_URL }}images/book_gallery/AFeastForCrows.jpg">
            <img data-book="5" src="{{ STATIC_URL }}images/book_gallery/ADanceWithDragons.jpg">
             <div class="caption-overlay">
                <p>Caption</p>
            </div>
        </div>
        <div class="book">
            <img src="{{ STATIC_URL }}images/book_gallery/Mistborn.jpg">
             <div class="caption-overlay">
                <p>Caption</p>
            </div>
        </div>
        <div class="book">
            <img src="{{ STATIC_URL }}images/book_gallery/NameOfTheWind.jpg">
             <div class="caption-overlay">
                <p>Caption</p>
            </div>
        </div>
        <div class="book">
            <img src="{{ STATIC_URL }}images/book_gallery/OceanAtTheEndOfTheLane.jpg">
             <div class="caption-overlay">
                <p>Caption</p>
            </div>
        </div>
        <div class="book" id="the-dresden-files">
            <img src="{{ STATIC_URL }}images/book_gallery/TheDresdenFiles.jpg">
             <div class="caption-overlay">
                <p>Caption</p>
            </div>
        </div>
        <div class="book">
            <img src="{{ STATIC_URL }}images/book_gallery/TheWayOfKings.png">
             <div class="caption-overlay">
                <p>Caption</p>
            </div>
        </div>
        <div class="book">
            <img src="{{ STATIC_URL }}images/book_gallery/WiseMansFear.jpg">
             <div class="caption-overlay">
                <p>Caption</p>
            </div>
        </div>
        <div class="book">
            <img src="{{ STATIC_URL }}images/book_gallery/WordsOfRadiance.jpg">
            <div class="caption-overlay">
                <p>Caption</p>
            </div>
        </div>
    </section>

{% endblock main %}

{% block script %}
    <script src="{{ STATIC_URL }}javascript/interests.js"></script>
{% endblock script %}
