.book-review-page
  text-align: left
  h1
    font-family: monospace
    margin-top: 10rem
  h2
    color: #228d22
  .articles
    color: white
    margin: 0 auto
    max-width: 90rem
  article
    border-bottom: #2395cc 0.2rem solid
    border-bottom-right-radius: 2rem
    padding: 0 1rem 1rem
    margin: 3rem 0 10rem
    header
      color: #f49801
      font-size: 2.5rem
      margin: 0 0 1rem
    p
      font:
        family: 'Verdana'
        size: 2rem
      line-height: 3rem
      margin-bottom: 3rem
    footer
      text-align: right
