@import "compass/css3/border-radius"

section.welcome
  height: auto
  margin: 0 auto
  max-width: 100rem
  padding-top: 4.5rem
  width: 100%
  p
    color: #777
    font-size: 2rem

.button
  background-color: #428bca
  border: 1px solid #357ebd
  border-radius: 3px
  color: #fff
  display: block
  font-size: 18px
  line-height: 1.33em
  margin: 50px auto 0
  max-width: 10.8rem
  padding: 0 16px
  text-align: center

.home-page
  .back-link
    display: none
